{% extends 'base_log.html' %}
{% load staticfiles %}

{% block hearder_extends %}
    <title>邮件发送成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'blog:index' %}">SimulatinFuture</a></h1>
            <p>邮件发送成功！</p>
        </div>
    </div>
</div>
{% endblock %}