{% extends 'base_log.html' %}
{% load staticfiles %}

{% block content %}
		<div class="containter">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-4 col-md-3 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">登录</h3>
						</div>
						<div class="panel-body">
							<form action="" method="POST">
								{% csrf_token %}
								{% for field in login_form %}
									<label for="{{ field.id_for_label }}">{{ field.label }}</label>
									{{ field }}
									<p class="text-danger">{{ field.errors.as_text }}</p>
								{% endfor %}
								<span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
								<button type="submit" class="btn btn-md btn-primary btn-block">登录</button>
							</form>
							<div class="text-center">
							<div style="padding-top: 10px;">
								<div><span class="pull-left">没有账号?<a style="color:blue;" href="{% url 'users:register' %}">立即注册</a></span></div>
								<div><span class="pull-right"><a style="color:blue;" href="{% url 'users:password_reset' %}">忘记密码?</a></span></div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}